/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
//@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
// @import "~@ionic/angular/css/normalize.css";
// @import "~@ionic/angular/css/structure.css";
// @import "~@ionic/angular/css/typography.css";
// @import "~@ionic/angular/css/display.css";

html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  line-height: 18px;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
div,
footer,
header,
main,
nav,
section {
  display: flex;
  //flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

.blue-btn {
  height: 32px;
  width: 268px;
  border: 1px solid transparent;
  background-color: #0095f6;
  background-color: rgba(var(--d69, 0, 149, 246), 1);
  border-radius: 4px;
  color: #fff;
  color: rgba(var(--eca, 255, 255, 255), 1);
  position: relative;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  user-select: none;
  width: auto;
  font-size: 14px;
}

.form-group {
  margin: 0;
  margin: 0 40px 6px;
}

.form-input {
  align-items: center;
  background: #fafafa;
  background: rgba(var(--b3f, 250, 250, 250), 1);
  border: 1px solid #dbdbdb;
  border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
  border-radius: 3px;
  box-sizing: border-box;
  color: #262626;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  display: flex;
  flex-direction: row;
  font-size: 14px;
  position: relative;
  width: 100%;
  height: 38px;
  label {
    display: flex;
    height: 36px;
    flex: 1 0 0;
    padding: 0;
    position: relative;
    margin: 0;
    min-width: 0;
    display: none;
  }
  span {
    color: #8e8e8e;
    font-size: 12px;
    height: 36px;
    left: 8px;
    line-height: 36px;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-overflow: ellipsis;
    transform-origin: left;
    transition: transform ease-out 0.1s;
    transition: transform ease-out 0.1s, -webkit-transform ease-out 0.1s;
    user-select: none;
    white-space: nowrap;
    -webkit-transform: scale(0.83333) translateY(-10px);
    transform: scale(0.83333) translateY(-10px);
  }
  .fo-input {
    font-size: 16px;
    -webkit-appearance: none;
    background: #fafafa;
    background: rgba(var(--b3f, 250, 250, 250), 1);
    border: 0;
    flex: 1 0 auto;
    margin: 0;
    outline: 0;
    overflow: hidden;
    padding: 9px 0 7px 8px;
    text-overflow: ellipsis;
    height: 36px;
  }
}

.blue-button {
  background-color: #3897f0;
  color: #fff;
  border: 1px solid #3897f0;
  border-radius: 4px;
}

.blue-button,
.white-button {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 1.6%;
}

.large {
  height: 42px;
}
